/* Transform,Transition,And Animations
    Transform:transition() */
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
  transform: translateX(50%);
}
.two {
  background: green;
  transform: translateX(75px);
}
.three {
  background: blue;
  /* transform: translateY(75px); */
  transform: translate(120px, 130px);
}
