/*  Media Quries */

body {
  background: lightgreen;
}
.banner {
  background: beige;
}
h1 {
  color: navy;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}
@media screen and (max-width: 576px) {
  body {
    background: darkolivegreen;
  }
  .banner {
    background: yellowgreen;
    border-radius: 20px;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(70, 104, 12);
  }
  .banner {
    background: rgb(78, 140, 182);
  }
  h1 {
    color: whitesmoke;
    font-size: 60px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
