/* Transform,Transition,And Animations
    Transform:scale() */
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
  transform: scalex(0.5);
}
.two {
  background: green;
  transform: scaleY(0.5);
}
.three {
  background: blue;
  transform: scale(0.5, 0.5);
}
